.footer {
  width: 100vw;
  padding: 20px 80px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color: hsl(181, 100%, 9%);
  color: #fff;
}

.footer a {
  text-decoration: none;
  color: #fff; /* Change to your preferred color */
}

.footer p {
  margin: 0;
}
