.orders__table-wrapper {
    /* width: 90%; */
    max-width: 100%;
    overflow-x: auto;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    margin: 0 auto;
  }

.orders__table table {
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
}

.orders__table table, th, td {
    padding: 1rem;
    text-align: left;
}

.orders__table thead th {
    background-color: #d1e0d7;
}

.orders__table tbody tr:nth-child(even) {
    background-color: #0000000b;
}

.orders__container h2{
    margin-bottom: 20px;
}

.order__headers{
    display: flex;
    flex-direction: row;
}

.order__headers .orders__gap{
    display: none;
}

.orders__navlink{
    display: none;
}

  @media (max-width: 1000px) {
    .admin-content {
        margin: 0px !important;
        font-size: 15px;
    }
    .orders__table-wrapper {
        margin-left: -40px;
    }
    .orders__container h2 {
        margin-left: -40px;
    }
    .order__headers .orders__gap{
        display: block;
        margin-left: 0px;
    }
    .orders__navlink{
        display: block;
        margin-left: 40px;
    }
  }

  @media (max-width: 729px) {
    .admin-content {
        margin: 0px !important;
        font-size: 12px;
  }
  }